@(title: String)(content: Html)(implicit request: Request[AnyContent])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css").absoluteURL()">
        <link rel="stylesheet" media="print" href="@routes.Assets.at("stylesheets/print.css").absoluteURL()">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css").absoluteURL()">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div id="page-container">
            @content
        </div>
    </body>
</html>
