@page{
        <div class="pc">
            <div class="col-md-9 col-lg-9 col-md-offset-3 col-lg-offset-3 cover right rightpadding">
                <div class="ff1 fs0 fc0 sc0 ls0">Thank you,</div>
                <div class="ff1 fs0 fc1 sc0 ls0">Regards.</div>
                <div class="ff2 fs2 fc1 sc0 ls0" style="margin:1em 0 0 0;">Piotr Limanowski</div>

                <ul class="contactList fs2">
                    <li class="ff2"><span class="fc0">Mobile:</span> +48 698 794 991</li>
                    <li class="ff2"><span class="fc0">Website:</span> peel.github.io</li>
                    <li class="ff2"><span class="fc0">Email:</span> plimanowski@@icloud.com</li>
                    <li><p></p></li>
                    <li class="ff2"><span class="fc0">Twitter:</span> @@peel</li>
                    <li class="ff2"><span class="fc0">Linkedin:</span> linkedin.com/in/plimanowski</li>
                    <li class="ff2"><span class="fc0">GitHub:</span> github.com/peel</li>
                </ul>

                <div class="consent fs4 ff2" style="margin:30em 0 0 0;">
                    <p>I hereby give consent for my personal data included in my offer to be processed for the purposes of recruitment, in accordance with the Personal Data Protection Act dated 29.08.1997 (uniform text: Journal of Laws of the Republic of Poland 2002 No 101, item 926 with further amendments).</p>
                </div>
            </div>
        </div>
}
