@covers.main{
    <div class="col-md-9 col-lg-9 col-md-offset-3 col-lg-offset-3 cover ff1">
        <div class="fs0 fc0">Hello,</div>
        <div class="fs0 fc1">I’m @Messages("author.name")</div>
        <div class="fs1 fc1">@Messages("author.role").</div>

        <div>
            <p class="fs2 ff1" style="width:90%;">@Messages("author.about.summary")</p>
        </div>

        <ul class="contactList fs2">
            <li class="ff2"><span class="fc0">@Messages("app.phone"):</span> @Messages("author.phone")</li>
            <li class="ff2"><span class="fc0">@Messages("app.url"):</span> @Messages("author.url")</li>
            <li class="ff2"><span class="fc0">@Messages("app.email"):</span> @Messages("author.email")</li>
            <li><p></p></li>
            <li class="ff2"><span class="fc0">Twitter:</span> @Messages("author.twitter")</li>
            <li class="ff2"><span class="fc0">Linkedin:</span> @Messages("author.linkedin")</li>
            <li class="ff2"><span class="fc0">GitHub:</span> @Messages("author.github")</li>
        </ul>
    </div>
}