@(name: String, role: String, about: String, contact: Map[String, String], social: Map[String, String])

@covers.main{
    <div class="col-md-9 col-lg-9 col-md-offset-3 col-lg-offset-3 cover ff1">
        <div class="fs0 fc0">Hello,</div>
        <div class="fs0 fc1">I’m @name</div>
        <div class="fs1 fc1">@role</div>

        <div>
            <p class="fs2 ff1" style="width:90%;">@about</p>
        </div>

        <ul class="contactList fs2">
            <li class="ff2"><span class="fc0">@Messages("app.phone"):</span> @contact.get("phone")</li>
            <li class="ff2"><span class="fc0">@Messages("app.url"):</span> @contact.get("url")</li>
            <li class="ff2"><span class="fc0">@Messages("app.email"):</span> @contact.get("email")</li>
            <li><p></p></li>
            <li class="ff2"><span class="fc0">Twitter:</span> @social.get("twitter")</li>
            <li class="ff2"><span class="fc0">Linkedin:</span> @social.get("linkedin")</li>
            <li class="ff2"><span class="fc0">GitHub:</span> @social.get("github")</li>
        </ul>
    </div>
}