@page{
    <div class="col-md-9 col-lg-9 col-md-offset-3 col-lg-offset-3 cover ff1">
        <div class="fs0 fc0">Hello,</div>
        <div class="fs0 fc1">I’m Piotr Limanowski.</div>
        <div class="fs1 fc1">Java & Scala Software Developer.</div>

        <div>
            <p class="fs2 ff1" style="width:90%;">A pragmatic software engineering professional with creative talent, analytical abilities, great people skills and passion. I have always been an appreciated team worker and eager to work in new technologies new-experience-seeker. Above all I am a paying attention to detail open-source enthusiast and commiter.</p>
        </div>

        <ul class="contactList fs2">
            <li class="ff2"><span class="fc0">Mobile:</span> +48 698 794 991</li>
            <li class="ff2"><span class="fc0">Website:</span> peel.github.io</li>
            <li class="ff2"><span class="fc0">Email:</span> plimanowski@@icloud.com</li>
            <li><p></p></li>
            <li class="ff2"><span class="fc0">Twitter:</span> @@peel</li>
            <li class="ff2"><span class="fc0">Linkedin:</span> linkedin.com/in/plimanowski</li>
            <li class="ff2"><span class="fc0">GitHub:</span> github.com/peel</li>
        </ul>
    </div>
}
