@(role: String, name: String, jobs: Seq[Job], schools: Seq[School])

@htmlJob(job: Job) = @{
    Html("""
        <div class="row multirow">
            <div class="col-md-3 col-lg-3 ff1 fs2 fc2 date leftpadding">"""+job.period+"""</div>
            <div class="col-md-9 col-lg-9 ff4 fs2 fc1 rightpadding">
                <div>"""+job.company+""", """+job.role+""" - """+job.location+"""</div>
                <div class="ff4 fc3">"""+job.description+"""</div>
            </div>
        </div>
    """)
}

@htmlSchool(school: School) = @{
   Html("""
        <div class="row multirow">
            <div class="col-md-3 col-lg-3 ff1 fs2 fc2 date leftpadding">"""+school.period+"""</div>
            <div class="col-md-9 col-lg-9 ff4 fs2 fc1 rightpadding">
                <div>"""+school.name+""", """+school.location+"""</div>
                <div class="ff4 fc3">"""+school.description+"""</div>
            </div>
        </div>
   """)
}

@formatter.page{
        <!-- nametag header -->
        <div class="row nametag">
            <img src="@routes.Assets.at("images/photo.png")" class="col-md-12 col-lg-12"/>
            <div class="ff1 fs0 fc1">@name</div>
            <div class="ff2 fs1 fc1">@role</div>
        </div>

        <!-- employment history -->
        <div class="row sectionheader">
            <div class="col-md-12 col-lg-12 ff2 fs3 fc2" style="text-align:center;">@Messages("app.title.employment")</div>
            <img class="col-md-12 col-lg-12" src="@routes.Assets.at("images/employment.png")"/>
        </div>

        <!-- job -->
        @jobs.map(j => htmlJob(j))

        <!-- education -->
        <div class="row sectionheader">
            <div class="col-md-12 col-lg-12 ff2 fs3 fc2" style="text-align:center;">@Messages("app.title.education")</div>
            <img class="col-md-12 col-lg-12" src="@routes.Assets.at("images/education.png")"/>
        </div>

        <!-- school -->
        @schools.map(s => htmlSchool(s))
}
