@(company: String, role: String, author: Author, letter: String)
@import java.text.SimpleDateFormat

@date = @{
    val dateformat = new SimpleDateFormat("dd/MM/yyyy")
    dateformat.format(new java.util.Date)
}
@formatter.page{
    <div class="row pageheader">
        <div class="col-md-12 col-lg-12 ff2 fs3 fc2" style="text-align:center;">@Messages("app.title.letter")</div>
        <img class="col-md-12 col-lg-12" src="@routes.Assets.at("images/letter.png")"/>
    </div>

    <div class="row" style="margin:0 auto;">
        <div class="col-md-3 col-lg-3 ff1 fs2 fc2 leftpadding" style="line-height:1.5em;text-align:justify;">
            <p>@role</p>
            <p>@company</p>
        </div>
        <div class="col-md-9 col-lg-9 ff1 fs2 fc2 rightpadding" style="line-height:1.5em;text-align:justify;">
            <p>@date</p>
            <p>@Messages("app.letter.greeting")</p>
            <p>
                @letter
            </p>
            <p>@Messages("app.letter.sincerely"),</p>
            <p>@author.name</p>
        </div>
    </div>
}
