@formatter.page{
<!-- Skills & Competencies -->

    <!-- skills -->
    <div class="row pageheader">
        <div class="col-md-12 col-lg-12 ff2 fs3 fc2">@Messages("app.title.skills")</div>
        <img class="col-md-12 col-lg-12" src="@routes.Assets.at("images/skills.png")"/>
    </div>

    <!-- skill -->
    <div class="row multirow">
        <!-- left -->
        <div class="col-md-6 col-lg-6 leftpadding">
            <div class="skill_box col-md-4 col-lg-4">
                <div class="ff1 fs2 fc1">Communication</div>
            </div>
            <div class="col-md-8 col-lg-8 skill_level">
                <div class="skill_set" data-skill="80" style="overflow: hidden; width: 80%;"></div>
            </div>
        </div>
        <!-- right -->
        <div class="col-md-6 col-lg-6 rightpadding">
            <div class="skill_box col-md-4 col-lg-4">
                <div class="ff1 fs2 fc1">Cooperation</div>
            </div>
            <div class="col-md-8 col-lg-8 skill_level">
                <div class="skill_set" data-skill="90" style="overflow: hidden; width: 90%;"></div>
            </div>
        </div>
    </div>

    <!-- skill -->
    <div class="row multirow">
        <!-- left -->
        <div class="col-md-6 col-lg-6 leftpadding">
            <div class="skill_box col-md-4 col-lg-4">
                <div class="ff1 fs2 fc1">Problem Solving</div>
            </div>
            <div class="col-md-8 col-lg-8 skill_level">
                <div class="skill_set" data-skill="90" style="overflow: hidden; width: 90%;"></div>
            </div>
        </div>
        <!-- right -->
        <div class="col-md-6 col-lg-6 rightpadding">
            <div class="skill_box col-md-4 col-lg-4">
                <div class="ff1 fs2 fc1">Organization</div>
            </div>
            <div class="col-md-8 col-lg-8 skill_level">
                <div class="skill_set" data-skill="75" style="overflow: hidden; width: 75%;"></div>
            </div>
        </div>
    </div>

    <!-- skill -->
    <div class="row multirow">
        <!-- left -->
        <div class="col-md-6 col-lg-6 leftpadding">
            <div class="skill_box col-md-4 col-lg-4">
                <div class="ff1 fs2 fc1">Learning</div>
            </div>
            <div class="col-md-8 col-lg-8 skill_level">
                <div class="skill_set" data-skill="90" style="overflow: hidden; width: 90%;"></div>
            </div>
        </div>
        <!-- right -->
        <div class="col-md-6 col-lg-6 rightpadding">
            <div class="skill_box col-md-4 col-lg-4">
                <div class="ff1 fs2 fc1">Commitment</div>
            </div>
            <div class="col-md-8 col-lg-8 skill_level">
                <div class="skill_set" data-skill="100" style="overflow: hidden; width: 100%;"></div>
            </div>
        </div>
    </div>

    <!-- competencies -->
    <div class="row sectionheader">
        <div class="col-md-12 col-lg-12 ff2 fs3 fc2" style="text-align:center;">@Messages("app.title.competencies")</div>
        <img class="col-md-12 col-lg-12" src="@routes.Assets.at("images/competencies.png")"/>
    </div>

    <!-- competency -->
    <div class="row multirow">
        <div class="col-md-12 col-lg-12">
            <div class="skill_box col-md-3 col-lg-3 leftpadding">
                <div class="ff5 fs2 fc1 ">Java EE Stack</div>
                <div class="ff1 fs4 fc1 ">Weblogic, EJB, JMS, WS, JPA, Maven</div>
            </div>
            <div class="col-md-9 col-lg-9 skill_level rightpadding">
                <div class="skill_set" data-skill="75" style="overflow: hidden; width: 75%; "></div>
            </div>
        </div>
    </div>

    <!-- competency -->
    <div class="row multirow">
        <div class="col-md-12 col-lg-12">
            <div class="skill_box col-md-3 col-lg-3 leftpadding">
                <div class="ff5 fs2 fc1 sc0 ls1">Scala Stack</div>
                <div class="ff1 fs4 fc1 sc0 ls1">Scala, Play!, SBT</div>
            </div>
            <div class="col-md-9 col-lg-9 skill_level rightpadding">
                <div class="skill_set" data-skill="50" style="overflow: hidden; width: 50%; "></div>
            </div>
        </div>
    </div>

    <!-- competency -->
    <div class="row multirow">
        <div class="col-md-12 col-lg-12">
            <div class="skill_box col-md-3 col-lg-3 leftpadding">
                <div class="ff5 fs2 fc1 sc0 ls1">Oracle Integration</div>
                <div class="ff1 fs4 fc1 sc0 ls1">Service Bus, SOA Suite</div>
            </div>
            <div class="col-md-9 col-lg-9 skill_level rightpadding">
                <div class="skill_set" data-skill="80" style="overflow: hidden; width: 80%; "></div>
            </div>
        </div>
    </div>

    <!-- competency -->
    <div class="row multirow">
        <div class="col-md-12 col-lg-12">
            <div class="skill_box col-md-3 col-lg-3 leftpadding">
                <div class="ff5 fs2 fc1 sc0 ls1">Web Stack</div>
                <div class="ff1 fs4 fc1 sc0 ls1">HTML, JavaScript, CSS</div>
            </div>
            <div class="col-md-9 col-lg-9 skill_level rightpadding">
                <div class="skill_set" data-skill="80" style="overflow: hidden; width: 80%; "></div>
            </div>
        </div>
    </div>

    <!-- competency -->
    <div class="row multirow">
        <div class="col-md-12 col-lg-12">
            <div class="skill_box col-md-3 col-lg-3 leftpadding">
                <div class="ff5 fs2 fc1 sc0 ls1">Design & Architecture</div>
                <div class="ff1 fs4 fc1 sc0 ls1">SOA, Integration, Object-Orientation</div>
            </div>
            <div class="col-md-9 col-lg-9 skill_level rightpadding">
                <div class="skill_set" data-skill="75" style="overflow: hidden; width: 75%; "></div>
            </div>
        </div>
    </div>

        <!-- competency -->
    <div class="row multirow">
        <div class="col-md-12 col-lg-12">
            <div class="skill_box col-md-3 col-lg-3 leftpadding">
                <div class="ff5 fs2 fc1 sc0 ls1">Development Utils</div>
                <div class="ff1 fs4 fc1 sc0 ls1">TDD, Git/SVN VCS</div>
            </div>
            <div class="col-md-9 col-lg-9 skill_level rightpadding">
                <div class="skill_set" data-skill="75" style="overflow: hidden; width: 75%; "></div>
            </div>
        </div>
    </div>

    <!-- competency -->
    <div class="row multirow">
        <div class="col-md-12 col-lg-12">
            <div class="skill_box col-md-3 col-lg-3 leftpadding">
                <div class="ff5 fs2 fc1 sc0 ls1">Automation</div>
                <div class="ff1 fs4 fc1 sc0 ls1">Ruby, Vagrant, Puppet</div>
            </div>
            <div class="col-md-9 col-lg-9 skill_level rightpadding">
                <div class="skill_set" data-skill="50" style="overflow: hidden; width: 50%; "></div>
            </div>
        </div>
    </div>

    <!-- interests -->
    <div class="row sectionheader">
        <div class="col-md-12 col-lg-12 ff2 fs3 fc2" style="text-align:center;">@Messages("app.title.interests")</div>
        <img class="col-md-12 col-lg-12" src="@routes.Assets.at("images/interests.png")"/>
    </div>

    <!-- interest -->
    <div class="row multirow">
        <div class="col-md-12 col-lg-12">
            <div class="skill_box col-md-3 col-lg-3 leftpadding">
                <div class="ff5 fs2 fc1 sc0 ls1">Pattern Recognition</div>
                <div class="ff1 fs4 fc1 sc0 ls1">RImage Processing, Face Recognition</div>
            </div>
            <div class="col-md-9 col-lg-9 skill_level rightpadding">
                <div class="skill_set" data-skill="75" style="overflow: hidden; width: 75%;"></div>
            </div>
        </div>
    </div>

        <!-- interest -->
    <div class="row multirow">
        <div class="col-md-12 col-lg-12">
            <div class="skill_box col-md-3 col-lg-3 leftpadding">
                <div class="ff5 fs2 fc1 sc0 ls1">Lifestyle culture</div>
                <div class="ff1 fs4 fc1 sc0 ls1">Technology, Sneakers, Design</div>
            </div>
            <div class="col-md-9 col-lg-9 skill_level rightpadding">
                <div class="skill_set" data-skill="75" style="overflow: hidden; width: 75%; "></div>
            </div>
        </div>
    </div>
}
