@(company: String, role: String, author: Author, letter: Letter, letterEnabled: Boolean)

@formatter.main(author.name+" - "+author.role+" - "+Messages("application.name")) {

    @covers.front(about=author.about, name=author.name, role=author.role, contact=author.contact, social=author.social)

    @pages.history(author.role, author.name, author.jobs, author.schools)

    @pages.skills(author.competencies, author.interests)

    @if(letterEnabled){
        @pages.letter(company, role, author, letter))
    }

    @covers.front(name=author.name,role=author.role,about=author.about,  contact=author.contact, social=author.social)
}