@(company: String, role: String)

@page{
        <div class="ff2 fs2 fc1 pagenumber">Page of</div>
        <div class="row pagecontact">
            <div class="ff3 fs2 fc0">Mobile: <span class="fc2">+48 698 794 991    </span> Website: <span class="fc2">peel.github.io   </span> Email: <span class="fc2">plimanowski@@icloud.com</span>
            </div>
        </div>

        <!-- nametag header -->
        <div class="row nametag">
            <img src="@routes.Assets.at("images/photo.png")" class="col-md-12 col-lg-12"/>
            <div class="ff1 fs0 fc1">Piotr Limanowski</div>
            <div class="ff2 fs1 fc1">Java & Scala Developer</div>
        </div>

        <!-- employment history -->
        <div class="row sectionheader">
            <div class="col-md-12 col-lg-12 ff2 fs3 fc2" style="text-align:center;">Employment History</div>
            <img class="col-md-12 col-lg-12" src="@routes.Assets.at("images/employment.png")"/>
        </div>

        <!-- job -->
        <div class="row multirow">
            <div class="col-md-3 col-lg-3 ff1 fs2 fc2 date leftpadding">Jan 2012 - Present</div>
            <div class="col-md-9 col-lg-9 ff4 fs2 fc1 rightpadding">
                <div>Nordea IT Office, Solution Architect - Gdynia, PL</div>
                <div class="ff4 fc3">Design and development of banking middleware services based on Java EE stack. Legacy integration and facade development.<br/>
                    Notable projects: automated file delivery services, 3rd party customer web APIs, DDD-based customer data processing, rating APIs.</div>
            </div>
        </div>

        <!-- job -->
        <div class="row multirow">
            <div class="col-md-3 col-lg-3 ff1 fs2 fc2 date leftpadding">April 2011 - Dec 2011</div>
            <div class="col-md-9 col-lg-9 ff4 fs2 fc1 rightpadding">
                <div>Nordea IT Office, Software Developer - Gdynia, PL</div>
                <div class="ff4 fc3">Development of integration solutions in Java EE stack with Oracle Middleware toolkit.<br/>
                    Notable projects: legacy integration solutions, internal tools for data management.</div>
            </div>
        </div>

            <!-- job -->
        <div class="row multirow">
            <div class="col-md-3 col-lg-3 ff1 fs2 fc2 date leftpadding">Oct 2010 - April 2011</div>
            <div class="col-md-9 col-lg-9 ff4 fs2 fc1 rightpadding">
                <div>KAOS Software via BUWiWM, Java Developer – Adelaide, AUS</div>
                <div class="ff4 fc3">Development of scalable, highly available, data integration, processing and analysis tools for education sector based on Spring Core stack.<br/>
                    Notable projects: Real time batch-data processing and analysis tool.</div>
            </div>
        </div>

            <!-- job -->
        <div class="row multirow">
            <div class="col-md-3 col-lg-3 ff1 fs2 fc2 date leftpadding">Feb 2009 - Oct 2010</div>
            <div class="col-md-9 col-lg-9 ff4 fs2 fc1 rightpadding">
                <div>PixNet, Web Developer – Gdynia, PL</div>
                <div class="ff4 fc3">Design and development of face recognition and photo manipulation service. Mobile soft-ware development for social networking applications. Scalable web platform development.
                    Notable projects: face recognition, photo manipulation and mobile web applications.</div>
            </div>
        </div>

            <!-- education -->
        <div class="row sectionheader">
            <div class="col-md-12 col-lg-12 ff2 fs3 fc2" style="text-align:center;">Education</div>
            <img class="col-md-12 col-lg-12" src="@routes.Assets.at("images//education.png")"/>
        </div>

            <!-- school -->
        <div class="row multirow">
            <div class="col-md-3 col-lg-3 ff1 fs2 fc2 date leftpadding">2005 - 2010</div>
            <div class="col-md-9 col-lg-9 ff4 fs2 fc1 rightpadding">
                <div>Gdansk University of Technology – ETI Faculty</div>
                <div class="ff4 fc3">MA thesis: “Face Recognition in the crowd using high resolution camera image”</div>
            </div>
        </div>

            <!-- school -->
        <div class="row multirow">
            <div class="col-md-3 col-lg-3 ff1 fs2 fc2 date leftpadding">2002 - 2005</div>
            <div class="col-md-9 col-lg-9 ff4 fs2 fc1 rightpadding">
                <div>PixNet, Web Developer – Gdynia, PL</div>
                <div class="ff4 fc3">2nd High School in Olsztyn – Technical Profile</div>
            </div>
        </div>
}
